@import '../../common/color.scss';

.footer {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: $primary-font;
}